<div class="head-nav">
    <!-- @todo: add icons intead of buttons -->
    <button class="hamburger" (click)="toggleSidebar()">Toggle Sidebar</button>
    <input class="search" [ngClass]="{ 'display-none' : !notesService.isSidebarExpanded }" placeholder="Search..." (ngModelChange)="searchNotes()" [(ngModel)]="searchText">
    <button *ngIf="notesService.selectedNote" class="delete" (click)="deleteNote(notesService.selectedNote)">Delete Note</button>
    <button class="new-note" (click)="createNote()">New Note</button>
</div>