.head-nav {
    display: flex;
    align-items: center;
    min-height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    .search, .delete, .hamburger {
        margin-right: 15px;
    }
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .head-nav {
        .hamburger {
            display: inline-block;
        }
    }
    .display-none {
        display: none;
    }
}