$header-height: 50px;
.notes-header {
    width: 100%;
    height: $header-height;
    position: relative;
    .notes-header-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        top: 0;
        left: 0;
    }
}
.notes-section {
    display: flex;
    min-height: calc(100vh - $header-height);
    .notes-sidebar {
        width: 240px;
        height: 100%;
    }
    .notes-main {
        width: 100%;
    }
}