$header-height: 50px;
.notes-header {
    width: 100%;
    height: $header-height;
    position: relative;
    .notes-header-inner {
        position: fixed;
        width: 100%;
        height: auto;
        z-index: 100;
        max-height: $header-height;
        top: 0;
        left: 0;
    }
}
.notes-section {
    display: flex;
    min-height: calc(100vh - 50px);
    .notes-sidebar {
        width: 360px;
        height: 100%;
        max-height: calc(100vh - 50px);
        overflow-y: auto;
    }
    .notes-main {
        width: 100%;
        height: 100%;
        max-height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

@media screen and (max-width: 767px) {
    .notes-section {
        .notes-sidebar {
            position: absolute;
            top: 50px;
            left: 0;
            overflow: hidden;
            width: 0;
            z-index: 99;
            background: white;
            transition: all 0.3s;
            &.expand {
                width: 100%;
            }
        }
    }
}