<div *ngIf="notes?.length > 0" class="notes">
    <ng-container *ngFor="let note of notes; let i = index;">
        <div (click)="selectNote(i)" class="note-card">
            <div class="title">
                <div [innerHTML]="note.title"></div>
            </div>
            <div class="data">
                <div [innerHTML]="note.data"></div>
                <div class="time">
                    {{ note?.lastUpdated | date:'short' }}
                </div>
            </div>
        </div>
    </ng-container>
</div>
<div *ngIf="!notes || notes?.length == 0" class="notes">
    <p class="text-center">
        No notes found.
    </p>
</div>