<div *ngIf="notes?.length > 0" class="notes">
    <ng-container
        *ngFor="let note of notes | searchText:searchText:'title':'data' | orderBy:'lastUpdated'; let i = index;">
        <div (click)="selectNote(note?.id)" [ngClass]="{ 'active': note?.id == notesService.selectedNote?.id }"
            class="note-card">
            <div class="title">
                <div class="inner-t" *ngIf="note.title" [innerHTML]="note.title"></div>
                <div *ngIf="!note.title" class="light">New Note</div>
            </div>
            <div class="data">
                <div *ngIf="note.data" class="text" [innerHTML]="note.data"></div>
                <div *ngIf="!note.data" class="light">New Note</div>
                <div class="time">
                    {{ note?.lastUpdated | date:'short' }}
                </div>
            </div>
        </div>
    </ng-container>
</div>
<div *ngIf="!notes || notes?.length == 0" class="notes">
    <p class="text-center light">
        No notes found.
    </p>
</div>